:host {
  position: relative;
  top: 0;
  display: block;
  height: 515px;
  overflow: hidden;

  #meta-bar {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #222;
    text-align: right;
    color: #fff;
    position: sticky;
    width: 100%;
    font-size: 1.5em;
  }

  #header-img {
    background: url("src/assets/img/bgguitar.jpeg");
    height: 425px;
    background-size: cover;
    background-position: top;
  }
}
