:host {

  .navigation {
    background-color: #222;
    color: #fff;
    height: 40px;
    padding: 10px 0;

    a {
      color: #fff;
      text-decoration: none;
    }

    .navigation-list {
      margin: 0;
      list-style: none;
      display: flex;
      padding-left: 10px;

      .navigation-item {
        padding: 0 15px;
      }
    }

  }

}
