@font-face {
  font-family: 'Spartan';
  src: url(assets/font/Spartan-Font.ttf) format("truetype");
  font-weight:300;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Spartan';
}
