@font-face {
  font-family: 'Spartan';
  src: url(assets/font/Spartan-Font.ttf) format("truetype");
  font-weight:300;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Spartan';
}

.text-align-right {
  text-align: right;
}

.btn {
  background-color: #222;
  border: 1px solid #555;
  color: #ffffff;
  font-family: Spartan;
  padding: 10px 15px;
  border-radius: 2px;

  &:hover {
    background-color: #444;
    cursor: pointer;
  }
}
